<!DOCTYPE html>


<html>
	<header><link rel='stylesheet' type='text/css' href='../static/css/style.css'></header>

	<h1>About Me!</h1>




<body>



<img src='/static/nasa.jpeg' width='756' height='1008'>




<p>-CS '29 Freshmen</p>

<p>-Fluent in Python, Lua, and html/css</p>

<p>-Currently Learning C and its derivatives in class!</p>
<p>-Love of vintage computers</p>
<br>
<p>-email me with any questions at <a href='mailto:zachcbaron@gmail.com'>zachcbaron@gmail.com</a></p>







</body>
</html>
